header {
    // position: fixed;
    z-index: 1001;
    padding: 20px 4%;
}
.header-info{
  padding-top: 5px;
}
.header-info span{
  margin-left: 20px;
  margin-bottom: 34px;
}
.header-logo{
  height: 40px;
}
.header-padding{
  padding-bottom: 6px;
  padding-top: 6px;
}
.header-back-text {
  font-weight: 600;
  
}
.header-text{
  font-weight: 400;
  font-size: 34px;
}
.header_sub_container_text {
  font-weight: 400;
 
}
a{
  cursor: pointer;
}
span.step {
  background: #000;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  font-weight: 200;
  line-height: 30px;
  margin-right: 15px;
  text-align: center;
  width: 30px; 
  margin-top: 10px
  
}

