.mat-drawer-content{
    overflow: hidden;
    background-color: #F8F8F8;
}
#page{
    
}
.header-div{
    height: auto;
}
.footer-div{
    height: auto;
}
// .page-content{
//     height: 70vh;
//     width: 100vw;
//     overflow-y: scroll;
//     padding: 60px 4% !important;
// }
@media screen and (max-width: 660px){
}