.grid-container {
    display: grid;
    align-content: space-around;
    grid-template-columns: 19% 76% 5% ;
    width:100%;
    margin: 5px 0px;
  }
  .member-usage-main{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width:100%;
    padding-top: 40px;
  }
  .usage-made{
    margin-top: 10px;
  }
  .member-usage{
    width: 90%;
  }
  .usage-action{
    padding-top: 20px;
  }
  .member-details{
    padding-top: 30px;
  }
  .member-details > span {
    display: inline-block;
  }
  .action-button{
    box-shadow: none !important;
  }
  .invite-member{
    padding-top: 40px;
  }
  .member-disabled{
    opacity: 0.5;
  }  