@import './config/config';

.fa{
    color: $primary;
}
#name{
    font-size: $card-font-size-medium;
    font-weight: $font-medium;
}
#soon-text{
    font-size: $card-font-size-xx-small;
    line-height: 1.38;
    letter-spacing: -1.0px;
    text-align: center;
    padding-left: 13px;
}
#soon-text.bundle-disabled{
    color: $inactive-grey !important;
}
.text-dis{
    color: $primary-black !important;
}
.card-dis{
    background-color: $secondary-grey !important;
    cursor:initial;
}
.icon-dis{
    color: $inactive-grey !important;
}
.text-click{
    color: white !important;
}
.card-click{
    background-color: $primary;
}
.yellow{
    background-color: $primary;
}
.whatsapp{
    background-color: $whatsapp-color;
}
.twitter{
    background-color: $twitter-color;
}
.facebook{
    background-color: $facebook-color;
}
.youtube{
    background-color: $youtube-color;
}
@media screen and (max-width: $resM){
    .icon{
        max-width: 60%;
        max-height: 60%;
    }
}
@media screen and (max-width: $resS){
    #name{
        font-size: $card-font-size-x-medium;
    }
    mat-card{
        padding: auto !important;
        margin: auto !important;
    }
    .icon{
        max-width: 80%;
        max-height: 80%;
    }
}
