@import './config/config';

.info-title-text {
  font-weight: bolder;
  font-size: $tile-font-size-regular;
}

.info-subtitle-text {
  font-size: $info-font-size-small;
  font-weight: 300 !important;
  line-height: 10px;
}

@media screen and (max-width: $resS){
  .info-title-text {
    font-size: $tile-font-size-large;
  }
  .info-subtitle-text{
    font-size: $info-font-size-medium;
    line-height: 25px;
  }
  .info-image {
    width: 80px;
    height: 80px;
  }
}
