.closeSymbolModalSpan {
    float: right;
}
.closeSymbolModalButton {
    margin: 0 !important;
    padding: 0 !important;
}
.modal-title {
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.92;
    letter-spacing: -1.2px;
    color: #000000;
    
}

.noPaddingLeft {
    padding-left: 0 !important;
}
.noPaddingRight {
    padding-right: 0 !important;
}
.modal-header{
    border-bottom: 0px !important;
    padding: 5% 7% 4% 7%;
}
.modal-footer{
    justify-content: flex-start;
    border-top : 0px !important;
    padding: 4% 7% 4% 7%;
}
.modal-dialog.modal-dialog-centered {
    max-width: 50%;
}
.modal-body {
    overflow-y: auto;
    padding: 0% 7% 0% 7%;
}
// .modal-content {
//     padding: 5% !important;
// }
.bundle-error-msg {
    font-size: 16px;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    line-height: 20px;
    letter-spacing: -0.5px;
    color: #000000;
    margin-bottom: 5px;
}



// width
.modal-body::-webkit-scrollbar {
    width: 10px;
}
// Handle
.modal-body::-webkit-scrollbar-thumb {
    background: #acacac; 
    border-radius: 10px;
}

// Handle on hover
.modal-body::-webkit-scrollbar-thumb:hover {
    background: #acacac; 
}

@media screen and (max-width: 575px) {
    .col-xs-1{
        width: 8.33% !important;
    }
    .col-xs-2{
        width: 16.66% !important;
    }
    .col-xs-3{
        width: 25% !important;
    }
    .col-xs-4{
        width: 33.33% !important;
    }
    .col-xs-5{
        width: 41.66% !important;
    }
    .col-xs-6{
        width: 50% !important;
    }
    .col-xs-7{
        width: 58.33% !important;
    }
    .col-xs-8{
        width: 66.66% !important;
    }
    .col-xs-9{
        width: 75% !important;
    }
    .col-xs-10{
        width: 83.33% !important;
    }
    .col-xs-11{
        width: 91.66% !important;
    }
    .col-xs-12{
        width: 100% !important;
    }
    .popover{
        margin-left: 0px;
        margin-right: 15px;
    }
}

@media screen and (max-width: 767px) {
    .sideImage {
        display: none;
    }
    // .modal-body {
    //     height: 70vw;
    // }
}
@media screen and (max-width: 369px) {
    .header-text {
        line-height: 1;
    }
}

@media screen and (max-width: 1138px) and (min-width: 941px) {
    .modal-dialog.modal-dialog-centered {
        max-width: 60%;
    }
}
@media screen and (max-width: 940px) and (min-width: 807px) {
    .modal-dialog.modal-dialog-centered {
        max-width: 70%;
    }
}
@media screen and (max-width: 806px) and (min-width: 768px) {
    .modal-dialog.modal-dialog-centered {
        max-width: 80%;
    }
}
@media screen and (max-width: 767px) and (min-width: 627px) {
    .modal-dialog.modal-dialog-centered {
        max-width: 90%;
    }
}
@media screen and (max-width: 626px) and (min-width: 594px) {
    .modal-dialog.modal-dialog-centered {
        max-width: 95%;
    }
}
@media screen and (max-width: 593px) {
    .modal-dialog.modal-dialog-centered {
        max-width: 100%;
    }
    .extraDivButton {
        display: none;
    }
    .paddingMobile {
        padding: 0 !important;
    }
    // .modal-body {
    //     height: 90vw;
    // }
    .modal-title {
        font-size: 29px !important;
    }
}
@media screen and (max-width: 806px) and (min-width: 768px) {
    .modal-dialog.modal-dialog-centered {
        max-width: 80%;
    }
}