
  <div class="modal-header">
    <h4 class="modal-title">Oops!</h4>
    <!-- <button type="button" class="closeSymbolModalButton close" aria-label="Close" (click)="d('Cross click')"> -->
    <button type="button" class="closeSymbolModalButton close" aria-label="Close" (click)="closeModal('closing')">
      <span class='closeSymbolModalSpan' aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class='bundle-error-msg'>Unfortunetly that bundle isn't available right now.<br>Please pick a different one</p>
  </div>
  <div class="modal-footer">
    <div class='col-xs-10 col-sm-8 col-md-8 col-lg-8 noPaddingLeft paddingMobile'>
      <com-button type="primary" label="Chose a different bundle" class='buttonPrint' (click)="closeModal('closing')"></com-button>
    </div>
  </div>


<!-- 
<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Hello, {{name}}!</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div> -->