.card_test{
    background-color: #fff;
    text-align: center;
    padding: 59px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 20px;

    
    cursor: pointer;
}


.card_test {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.col-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-12{
    flex: 0 0 100%;
    max-width: 100%;
}
.pl-3, .px-3 {
    padding-left: 1rem!important;
}
.containera {
    background: #fff;
    border: 1px solid #ffffff;
    display: inline-block;
    box-shadow: 0 9px 12px 0 rgba(0, 0, 0, 0.08);
    margin-bottom: 10px;
    
    border-radius: 5px;
    padding: 25px;
   
}
.containera[_ngcontent-c2] > div[_ngcontent-c2] {
    float: left;
    padding: 0 10px;
}
.p-0 {
    padding: 0!important;
}

.device-img {
    width: 82px;
  height: 165px;
}
img {
    vertical-align: middle;
    border-style: none;
}
.pr-0, .px-0 {
    padding-right: 0!important;
}
.col-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.m-0 {
    margin: 0!important;
}

h2 {
    
   
    font-weight: 400;

}

.customCard span{
    font-weight: 200;
    font-size: 14px;
}

.Apple-iPhone-X {
   
    font-weight: 400;
  
    line-height: 2.17;
    letter-spacing: -0.8px;
    color: #000000;
   
  }
  .mat-input-infix.mat-form-field-infix {
    
    border-radius: 21px;
    margin-bottom: -9px !important;
   
}

  .example-panel-red .mat-select-content  {
    background: rgba(255, 0, 0, 0.5);
    
  }
  
  .example-panel-green .mat-select-content {
    background: rgba(0, 255, 0, 0.5);
  }
  
  .example-panel-blue .mat-select-content{
    background: rgba(0, 0, 255, 0.5);
  }

  .gbstore {
    width: 103px;
    height: 21px;
    font-family: MTNBrighterSans;
    font-size: 13px;
    font-weight: 200;
   
    line-height: 1.38;
    letter-spacing: -0.4px;
    color: #000000;
    color: var(--black);
  }

.customCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding-bottom: 8px;
}


.mtn-button {
    background: #fc0;
    border-radius: 37px;
    border: none;
    padding: 10px;
    font-weight: 700;
    cursor: pointer;
    height: 50px;
}

.customCardButton {
    background: #fff;
    border-radius: 25px;
    cursor: pointer;
    height: 35px;
    border: 1px solid #989898;
    text-align: left;
    padding-left: .5em;
}

.row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.column {
    display: inline-flex;
    
    padding-left: 27px;
    padding-right: 38px;
}